 .img
        {
          padding: 70px
      }
          .nav img
          {
            height: 62px;
            width: 60px;
            padding-left: 50;
          }
            body 
            {
           background-image: url(bg.jpg);  
           margin: 0%;
            }
            .nav
            {
                overflow: hidden;
                background-color:rgb(219, 205, 205);
                           
            }
           a
           {
            float:right;
            text-decoration: none;
            font-size: 20px;
            padding: 20px 15px;
           
           }
           a.active
           {
            background-color: rgb(65, 216, 151);
           }
           a.active2
           {
            background-color: rgb(228, 149, 149);
           }
           a.active3
           {
           background-color: darkcyan;
           }
           a.active4
           {
           
            background-color: rgb(57, 87, 126);
           }
          a:hover
          {
            background-color: rgb(174, 193, 239);
            color: rgb(12, 15, 17);
          }
        .parent
        {
          padding: 80px;
        }
        
          